@font-face {
   font-family: Vodafone;
    src: url(font/Vodafone.Rg_r.ttf);
}
body{
	font-family:  Vodafone;
	font-size: 30px;
	color: #e60000;	
	max-width: 1280px;
	margin: 0 auto;
}

.row{
	padding:  0px;
	margin: 0px;
}

nav{
	
	background: #FFF;
	padding-top: 20px;
	border: 1px solid #red;

}
.logo{
	margin: 0 auto;
	
}
.progress{
	background: #f4f4f4;
	height: 12px;
}
.progress-bar{
	background: #e60000;
	height: 12px;
}

h2{	
	font-weight: 600;
	font-size: 26px;
	color: #e60000;

}
h3{
	padding-left: 10px;
	font-size: 18px;
	color: #282828;	
	font-weight: 600;
	margin-bottom: 20px;

}
h4{
	
	font-size: 15px;
	font-weight: 600;
	color: #282828;
}
h5{
	
	font-size: 15px;
	font-weight: bold;
	color: #e60000;
	margin: 0px;
}
h6{
	
	font-size: 10px;
	font-weight: bold;
	color: #282828;
}
p{
	
	font-size: 14px;
	line-height: 20px;
	
	color: #282828;
}
form h3{
	color: #e60000;
}
span{
	color: #e60000;
}
.personal, .details{
	padding : 0px 30px;

}
.form-group{
	padding: 0px 0px 0px 20px;
	margin: 0px;
	border: 0px solid red;
	min-height: 90px;
}
.details{
	border: 0px solid red;
	margin: 0px;
	padding: 0px;
}
label{
	
	font-size: 12px;
	color: #282828;
	text-transform: uppercase;
}
lable:active{
	color: #e60000;
}
.placeholder{
	font-family: vodaphone, Ariel, sans-serif;
	font-size: 18px;
	color: #282828;
}
input, .form-control{
font-family: vodaphone, Ariel, sans-serif;
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid #282828;
	box-shadow: 0px 0px 0px;
	font-size: 16px;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[placeholder]:focus, select.form-control:focus{
	box-shadow:  0px 0px 0px;
	border-bottom: 1px solid #e60000;
	color: #282828;
}

.diverlicense{
	border: 1px solid #f4f4f4;
	padding: 20px;
	min-height: 200px;
}
.photo{
	height: 240px;
	background: #f4f4f4;
	border: 0px solid red;
}
.submit{
	float: right;
	padding: 10px;
	color: #fff;
}
.btn-primary{
	border-radius: 0px;
	border: none;
	background: #f4f4f4;
	padding: 20px;
	color: #282828;
	margin-top: 80px;
	min-width: 140px;	
	font-weight: 600;
}
.btn-primary:hover{
	background: #f4f4f4;
	
	color: #e60000;
	
}
.form-group label{
	padding-left: 10px;
}
.glyphicon{
	color: #fff;
}
.btn-default, .btn-default:visited, .btn-default:active{	
	font-size: 15px;
	border-radius: 0px;
	background: #e60000;
	color: #FFF;
	border: none;
	min-width: 160px;
	padding: 15px;
	font-weight: 600;
}
.btn-default:hover{
	border-radius: 0px;
	
	background: #282828;
	color: #FFF;

}
.img-group{
	padding: 0;
}
.col-lg-6{
	padding-right: 0;
}
.spinner {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.modal{
	width: 716px;
	height: 520px;
	border-radius:0px;
	padding:0px;
	background: #fff;
	margin: auto;
	box-shadow: 0px 0px 40px #282828;
}
#myModal5{
	width: 368px;
	height: 326px;
	border-radius:0px;
	padding:0px;
	background: #fff;
	margin: auto;
	box-shadow: 0px 0px 40px #282828;
}
#myModal5 .modal-body{
	height: 240px;
	width: 318px;
	padding: 30px 20px;

}
.modal-right{
	padding: 30px 20px 0px 20px;
	height: 520px;
}
.modal-left{
	background: #f4f4f4;
	height: 520px;
	padding :0px;
}
.modal-body{
	height: 400px;

}
.modal-footer{
	border: none;
}
.footer{
	padding: 30px 0px;
	text-align: center;
}