.loader {
  animation: spin 1.5s linear infinite;
  position: relative;
  width: 120px;
  height: 120px; 
  margin: 100px auto 0;
  
  
  border: 2px solid #1f94ed;
  border-radius: 50%;

  
  &:after {
    content:"";
    width: 85%;
    height: 85%;
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,0.7) 60%, rgba(255,255,255,0) 100%);
    position: absolute;
    top:0;
    left: 0;
    transform: translate(-5%,-5%);
  }  
}



@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}