
@font-face {
    font-family: 'Vodafone'; /*a name to be used later*/
    src: url('VodafoneRegular.ttf'); /*URL to font*/
}


@font-face {
    font-family: 'Vodafone-Bold'; /*a name to be used later*/
    src: url('VodafoneBold.ttf'); /*URL to font*/
}
/* Move down content because we have a fixed navbar that is 50px tall */

html, body
{
    /*padding: 0;*/
    margin-bottom: 0;
    padding-bottom: 20px;
    background-color: rgb(244, 244, 244);   
    font-family: Vodafone;
    color: #4a4d4e!important;
    height:100%; /* needed for container min-height */
}

.container {
    position: relative;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    height: 100%;
}

.container p{
  font-size:16px;
  margin-bottom: 15px;
}


.header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    width: 100%;
}   .header > span, .header > a {
        display: inline-block;
        width: 6%;
        vertical-align: middle;
        color: rgb(230, 0, 0)!important;
        font-size: 30px;
    }
    .header > span:nth-child(2) {
        width: 86%;
    }
    .header > span:first-child {
        font-size: 30px;
    }
    .header > span:last-child {
        font-size: 20px;
    }
    .header > .step-status {
        text-align: center;
        padding-top: 20px;
        font-size: 15px;
        font-weight: 600;
    }


.progress {
    height: 8px;
    border-radius: 0;
    margin-bottom: 0;
}
.progress-bar {
    background-color: rgb(230, 0, 0);
}

.content {
    background-color: rgb(244, 244, 244); 
}

.content-background{
  height:100%; 
  background-image: url('assets/img/hand.png'); 
  background-color: rgb(230, 0, 0);
  background-size:contain; 
  background-repeat: no-repeat; 
  background-position-y: 50%;
}

.content > .container > h4 {
    color: rgb(230, 0, 0);
    font-size: 26px;
    margin: 25px 0 10px;
}   .content .feature-btn {
        padding: 30px;
    }
    .feature-btn.color-white {
        background-color: white;
    }
    .feature-btn.color-red {
        background-color: rgb(230, 0, 0);
    }

    .feature-btn {
    margin-bottom: 20px;
    font-size: 30px;
}
/*.card_img{
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/
.card_img img{
  width: 70px;
  padding-right: 20px;
}
.feature-btn.color-white > span {
    color: rgb(230, 0, 0);
}

.feature-btn.color-white > span:nth-child(2) {
    color: black;
}

.feature-btn.color-red > span {
    color: white;
}

.feature-btn > span:last-child {
    float: right;
    line-height: 1.3;
}

.feature-btn > span:first-child {
    margin-right: 15px;
    font-size: 35px;
}

.feature-btn:hover{
    cursor: pointer;
}

h5{
    color: rgb(230, 0, 0);
    font-size: 18px;
    font-weight: bold;
}

.text-red{
  color: #e60000;
}


.text-center{
    text-align: center;
}

.text-right{
text-align: right;
}

.text-left{
text-align: left;
}

.no-decoration{
    text-decoration: none !important;
}

/* BTN CLASESS*/
.btn-xl, .btn-group-xl > .btn {
    padding: 15px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
}

.btn-red{
    color: #fff!important;
    background-color: rgb(230, 0, 0)!important;
    font-family: 'Vodafone-Bold';
}

.btn-red:active{
    color: #939393 !important;
    background-color: rgb(255, 255, 255)!important;
}



.btn-white{
    color: #939393 !important;
    background-color: #fff!important;
    font-family: 'Vodafone-Bold';
}

.btn-white:active > .btn-red {
    color: #fff !important;
    background-color: rgb(230, 0, 0)!important;
}


  .icon-200{
        font-size: 30px;
        color: white;
        z-index: 99;
  }

.circle{

  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  border: 5px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 0px 4px white;
}

.loading-content {
  padding-top: 60px!important;
}



p.uploading{
  font-size: 22px;
  margin: 10px 0;
}


/* MODAL CLASESS*/
.modal-dialog {
    width: 350px!important;
    margin: 200px auto!important;
}

.modal-footer {
    padding: none!important;
    border-top: none!important;
}
.modal-body {
    padding: none!important;
}

.modal-content{
  padding: 20px!important;
  border-radius: 0!important;
}

        


/* MARGIN CLASESS*/
.my-3{
    margin: 3rem 0!important;
}
.mt-3{
    margin-top: 3rem!important;
}
.mb-3{
    margin-bottom: 3rem!important;
}

.mt-5{
    margin-top: 5rem!important;
}


.form-group{
    margin-bottom: 0;
}

/* FORM CLASESS*/
.button-container {
  text-align: center;
}

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}

.form-group {
  position: relative;
}

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}
.form-help, .form-group .form-help {
  position: absolute;
  width: 100%;
}


.form-group input {
  height: 4.4rem;
}

.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  font-size: 1.3rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.form-group .bar {
  position: relative;
  border-bottom: 0.1rem solid #ccc;
  display: block;
}
.form-group .bar::before {
  content: "";
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: rgb(230, 0, 0);
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 2rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
  box-sizing: border-box;
}
.form-group input[type="file"] {
  line-height: 1;
}
.form-group input[type="file"] ~ .bar {
  display: none;
}
.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #4a4d4e;
}
.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label
 {
  /*font-size: 0.9rem;*/
  /*color: gray;*/
  top: -1rem;
  left: 0;
}

.form-group input:focus {
  outline: none;
}

.form-group input:focus ~ .control-label,
{
  color: #000;
}

.form-group input:focus{
    height: 5.4rem !important;
}

.form-group input:focus ~ .bar::before 
{
  width: 100%;
  left: 0;
}

.has-error .legend.legend, .has-error.form-group .control-label.control-label {
  color: #d9534f;
}
.has-error.form-group .form-help,
.has-error.form-group .helper,  .form-help,
{
  color: #d9534f;
}
.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%;
}
